.other-login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.other-login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.other-login-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Add margin between buttons */
}

.btn-google {
    background-color: #db4437;
}

.btn-google:hover {
    background-color: #c33c2e;
}

.btn-github {
    background-color: #333;
}

.btn-github:hover {
    background-color: #24292e;
}

p {
    color: #333;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
